.pane {
    -fx-background-image: url(Images/background.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 1030 623;
    -fx-background-position: center center;
}

.button {
    -fx-background-image: url(Images/buttonSkip.png);
        -fx-background-repeat: stretch;
        -fx-background-size: 330 67;
        -fx-background-position: center center;
}


