.pane {
    -fx-background-image: url(Images/background.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 1030 623;
    -fx-background-position: center center;
}

.button {
    -fx-background-image: url(Images/buttonSkip.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 375 39;
    -fx-background-position: center center;
    -fx-background-color: transparent;
}

.start {
    -fx-background-image: url(Images/forStart.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 414 60;
    -fx-background-position: center center;
    -fx-background-color: transparent;
}
